output-*
modules/optional
modules/bootcd_extras
modules/livecd_extras
modules/hybridcd_extras
modules/3rdparty
modules/ahk_tests
modules/AHK_Tests
.cproject
.project
.settings
build
.vscode
base/applications/taskmgr/startuppage.c
.vs/slnx.sqlite
.vs/reactos/v15/ipch/AutoPCH/a29c59b97d5bb7e5/APPLPAGE.ipch
.vs/reactos/v15/ipch/AutoPCH/722ae6106bb57342/WINUSER.ipch
.vs/reactos/v15/ipch/AutoPCH/447ee1e3e2a116ae/PROCPAGE.ipch
.vs/reactos/v15/Browse.VC.opendb
.vs/reactos/v15/Browse.VC.db
.vs/ProjectSettings.json
RosBE-Logs/BuildLog-i386-20191104-0843.txt
.vs/reactos/v15/ipch/AutoPCH/b9265f783d082c61/SDBSTRINGTABLE.ipch
.vs/reactos/v15/ipch/AutoPCH/99ee64eeb4720d5e/TASKMGR.ipch
.vs/reactos/v15/ipch/AutoPCH/652c9e405fd48478/UTILS.ipch
.vs/reactos/v15/ipch/AutoPCH/16cb26097ff04ed/STARTUPPAGE.ipch
.vs/VSWorkspaceState.json
.vs/reactos/v15/.suo
base/applications/taskmgr/startuppage.h
